# Realized Volatility Prediction
## 4 (pt.1) Modeling

### Table of Contents
1. Linear Regression
2. KNN

In [1]:
# Standard imports and libraries
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('../data/interim/features1_train2.csv')
train.head()

,Unnamed: 0,stock_id,time_id,target_value,real_vol_1,real_vol_trade,mean_bid_ask_1,mean_volume_overall,std_bid_ask_1,std_wap_1,ld_std_wap_1
0,1,0,11,0.001445,0.001204,0.000901,0.000394,411.450000,0.000157,0.000262,0.000086
1,2,0,16,0.002168,0.002369,0.001961,0.000725,416.351064,0.000164,0.000864,0.000173
2,3,0,31,0.002195,0.002574,0.001561,0.000859,435.266667,0.000279,0.000757,0.000236
3,7,0,103,0.004120,0.005331,0.002102,0.001039,324.608844,0.000367,0.001915,0.000311
4,8,0,109,0.002182,0.001797,0.001266,0.000446,361.292373,0.000146,0.000636,0.000117

In [6]:
train.drop(columns=['Unnamed: 0'], inplace=True)
train.head()

,stock_id,time_id,target_value,real_vol_1,real_vol_trade,mean_bid_ask_1,mean_volume_overall,std_bid_ask_1,std_wap_1,ld_std_wap_1
0,0,11,0.001445,0.001204,0.000901,0.000394,411.450000,0.000157,0.000262,0.000086
1,0,16,0.002168,0.002369,0.001961,0.000725,416.351064,0.000164,0.000864,0.000173
2,0,31,0.002195,0.002574,0.001561,0.000859,435.266667,0.000279,0.000757,0.000236
3,0,103,0.004120,0.005331,0.002102,0.001039,324.608844,0.000367,0.001915,0.000311
4,0,109,0.002182,0.001797,0.001266,0.000446,361.292373,0.000146,0.000636,0.000117

In [7]:
train.shape

(343146, 10)

In [8]:
sample1 = train.sample(10000, random_state=101)
sample2 = train.sample(10000, random_state=201)
sample3 = train.sample(10000, random_state=301)

## 4.1 Linear Regression
The first model we will test is linear regression.

In [11]:
X_train = sample1.drop(['stock_id', 'time_id', 'target_value'], axis=1)
y_train = sample1[['target_value']]

In [ ]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)
y_pred = regr.predict